{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="col">
    <div class="card shadow-sm">
        <img src="{{ object.preview | preview_url }}" alt="preview">
        <div class="card-body">
            <p class="card-text"> Модель: {{object.name}}</p>
            <p class="card-text">Описание: {{object.description}}</p>
            <p class="card-text">Цена: {{object.price}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="#" class="btn btn-secondary">Купить сейчас</a>
                    <a href="#" class="btn btn-primary me-2">Добавить в корзину</a>
                </div>
                <small class="text-body-secondary">{{object.created_at}}</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}
